{$FRONTEND_DOMAIN:allka.store} {
  encode zstd gzip
  reverse_proxy frontend:80
}

www.{$FRONTEND_DOMAIN:allka.store} {
  redir https://{$FRONTEND_DOMAIN:allka.store}{uri} permanent
}

{$API_DOMAIN:api.allka.store} {
  encode zstd gzip
  reverse_proxy backend:3001
}